<html>
    <head>
      <title>Django Blog</title>
    </head>

    <body>
      <div>
        <h1><a href="">Django Blog</a></h1>
      </div>

      <div>
        <p>Published: 06/07/2015, 16:27</p>
        <h2><a href="">My First blog plost</a></h2>
        <p>Blog application that created using Django</p>
      </div>

      <div>
        <p>published: 06/07/2015, 16:27</p>
        <h2><a href="">My Second Post</a></h2>
        <p>Second post in Blog</p>
      </div>

    </body>
</html>